<template name="user_info">


        <ul>

            <li>
                <!--TODO add notefction elert for evrey user-->
                <!--<a href="#">-->
                    <!--<i class="material-icons">notifications</i>-->
                <!--</a>-->
            </li>

            <li>
                {{#if currentUser}}
                    {{> user_loggedin}}
                {{else}}
                    {{> user_loggedout}}
                {{/if}}
            </li>

        </ul>

</template>