<template name="message_big_view" >
    <!--todo add a message title to the form & to the big view-->
    {{> close_bottom_modal_btn}}

    <div class="row">
        <div class="col s12 l3 m3  offset-l9 offset-m9  ">
            <div class="side-info z-depth-1 {{tColor}}">
                <div class="img-warpper">
                    <img class="circle" src="user-img/rav.jpg" alt=""/>
                </div>
                <div class="icon-line">
                    <div class="icon-box">
                        <a class="btn-large waves-effect waves-light transparent "><i class="material-icons">phone</i></a>
                    </div>

                    <div class="icon-box">
                        <a class=" btn-large waves-effect waves-light transparent "><i class="material-icons">comment</i></a>
                    </div>

                    <div class="icon-box">
                        <a class="btn-large waves-effect waves-light transparent "><i class="material-icons">info</i></a>
                    </div>
                </div>


            </div>
        </div>
        <div class="col l9">
            <h1 class="right">{{message.head_line}}</h1>
        </div>

        <div class="col l7 offset-l1">

            <p class="flow-text right-align">{{{message.text}}}</p>
        </div>
    </div>





</template>