<template name = "nav">
    <nav>
        <div class="nav-wrapper red">
    
            <div class="right">

                {{> user_info}}
                
            </div>

            <ul id="slide-out" class="side-nav">
                <li><a href="{{urlFor route='home'}}">ראשי</a></li>
                <li><a href="{{pathFor 'times'}}">זמנים</a></li>
                <li><a href="{{pathFor 'special_events'}}">ארועים מיוחדים</a></li>
                <li><a href="{{pathFor 'sales'}}">מבצעים</a></li>
                <li><a href="{{pathFor 'business'}}">עסקים</a></li>
                <li><a href="{{pathFor 'services'}}">שירותים</a></li>
                <li><a href="{{pathFor 'cheraty'}}">גמ"חים</a></li>
                <li><a href="{{pathFor 'mutual_help'}}">עזרה הדדית</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="mdi-navigation-menu"></i></a>
        </div>
    </nav>
</template>



        

        
        

        	

            

                

            
